@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-3xs: 16rem; /* 256px */
  --breakpoint-2xs: 18rem; /* 288px */
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-xs2: 24rem; /* 384px */
  --breakpoint-xs3: 25rem; /* 400px */
  --breakpoint-xs4: 26rem; /* 416px */
  --breakpoint-xs5: 28rem; /* 448px */
  --breakpoint-xs6: 30rem; /* 480px */
  --breakpoint-xs7: 32rem; /* 512px */

  /* Phablets / small tablets */
  --breakpoint-xs9: 34rem; /* 544px */
  --text-3xs: 0.5rem; /* 8px - for very small labels/captions */
  --text-3xs--line-height: 1.125; /* 9px line height */
  --text-2xs: 0.625rem; /* 10px */
  --text-2xs--line-height: 1.2; /* 12px line height */
  --text-md: 1rem; /* 16px */
  --text-md--line-height: 1.5; /* 24px */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-cverai-green: var(--cverai-green);
  --color-button: var(--button);
  --color-button-accent: var(--button-accent);
  --color-cverai-teal: var(--cverai-teal);
  --color-cverai-orange: var(--cverai-orange);
  --color-cverai-blue: var(--cverai-blue);
  --color-cverai-brown: var(--cverai-brown);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-garamond: var(--font-garamond), serif;
  --font-epilogue: var(--font-epilogue), sans-serif;
  --font-instrument: var(--font-instrument), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-merriweather: var(--font-merriweather), serif;
  --font-outfit: var(--font-outfit), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-geist: var(--font-geist), sans-serif;
}

:root {
  --radius: 0.625rem;
  /* --background: oklch(1 0 0); */
  --background: oklch(0.9755 0.0045 258.32); /* EDITED F5F7FA nextjs*/
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6176 0.1767 261.77); /* EDITED 4680EE*/
  --button: oklch(0.5208 0.1773 256.72); /* EDITED #0A65CC*/
  --button-accent: oklch(0.9513 0.0166 250.84); /* EDITED #E7F0FA*/
  --cverai-blue: oklch(0.4894 0.2298 275.42); /* EDITED 4640DE*/
  --cverai-orange: oklch(0.7498 0.1686 58.93); /* EDITED FA8F21*/
  --primary-foreground: oklch(0.9747 0.0119 259.82); /* EDITED */
  --cverai-green: oklch(0.5633 0.1684 138.64); /* EDITED #388B12 */
  --cverai-teal: oklch(0.7718 0.1173 172.58); /* EDITED #56CDAD */
  --cverai-brown: oklch(0.4703 0.0349 264.16); /* EDITED #515B6F */
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.6281 0.1788 23.81);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.9747 0.0119 259.82);
  /*  --sidebar-foreground: oklch(0.9462 0.0254 268.85); EDITED */
  --sidebar-foreground: oklch(38.269% 0.01258 267.221); /* EDITED */
  --sidebar-primary: oklch(0.214 0.0844 273.87 / 12.16%); /* EDITED */
  /* --sidebar-primary-foreground: oklch(0.6285 0.012 280.35); EDITED */
  --sidebar-primary-foreground: oklch(34.474% 0.08382 274.895); /* EDITED */
  --sidebar-accent: oklch(97.015% 0.00011 271.152);
  --sidebar-accent-foreground: oklch(0.214 0.0844 273.87 / 12.16%);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply !bg-[#F5F7FA] w-full;
  }
  .onboarding-h1 {
    @apply max-sm:text-sm text-2xl font-medium text-center text-gray-900 mb-2;
  }
  .h1 {
    @apply max-md:!text-xs;
  }
  .onboarding-btn {
    @apply max-sm:!text-2xs;
  }
  .onboarding-container {
    @apply flex flex-col w-full items-center justify-center min-h-screen h-full mt-16 md:mt-8 p-4 sm:p-16;
  }
  .onboarding-card {
    @apply flex flex-col items-center justify-center max-w-screen-lg w-full shadow-2xl rounded-[4px] p-4 max-md:py-8 sm:p-8 md:p-16 bg-white space-y-7;
  }
  
  .container {
    @apply max-w-screen-2xl mx-auto sm:px-4;
  }

}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
}
